*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/example/myfirstapp/Google.java
app/src/main/java/com/example/myfirstapp/MainActivity2.java
app/src/main/java/com/example/myfirstapp/MainActivity_constraint.java

app/src/main/res/layout/activity_google.xml
app/src/main/res/layout/activity_main2.xml
app/src/main/res/layout/activity_constraint.xml
app/src/main/res/layout/activity_relative.xml